// mobile btn for extend
// menu

@mixin mobileCtrlBtn {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0px;
  display: none;
  font-size: 0em;
  padding: 15px;
  margin: 0;
  min-width: auto;
  min-height: auto;
  background: transparent;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  z-index: 100;

  @include screen('tablet') {
    display: block;
  }
}

.sidebarCtrlBtn {
  display: none;
  right: 0px;
  @include mobileCtrlBtn;

  &::before {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    background: $colorPrimary;
    box-shadow: $colorPrimary 0 6px 0 0, $colorPrimary 0 -6px 0 0;
    transition: 0.2s linear;
  }

  &::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    background: $colorPrimary;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.2s linear;
  }

  // &:hover {
  //   &::before {
  //     transform: translate(-50%, -50%) rotate(45deg);
  //     box-shadow: none;
  //   }
  //   &::after {
  //     opacity: 1;
  //     transform: translate(-50%, -50%) rotate(-45deg);
  //   }
  // }
}

// search
.searchCtrlBtn {
  display: none;
  right: 0px;
  font-size: 0em;
  z-index: 9;
  @include mobileCtrlBtn;

  &:before {
    width: 40px;
    height: 40px;
    background: url(../images/basic/icon_search.svg) no-repeat center center;
    background-size: 28px;
    opacity: 0.6;
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
  }
}

//header
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all 0.3s ease-out;

  @include screen('tablet') {
    position: fixed;
    width: 100%;
  }


  & > .container {
    max-width: none;
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    transition: all 0.3s ease-out;

    @include screen('tablet') {
      padding: 0;
      height: auto;
    }
  }

  h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1200px) {
      width: 150px;
    }

    @include screen('tablet') {
      float: none;
      padding: 2px 60px 2px 0px;
      width: 100%;
      text-align: center;
      height: 60px;

      img {
        width: auto;
        height: auto;
        max-height: 54px;
        margin: 0px auto;
        transform: scale(0.8);
      }
    }

    a {
      display: inline-block;
    }

    img {
      display: block;
      max-width: 300px;
      max-height: 75px;
    }
  }

  // 導覽列
  .navigation {
    box-sizing: border-box;
    display: flex;
    align-items: center;

    @include screen('tablet') {
      display: none;
    }

    .navList {
      flex: 1 1 auto;
      margin: 0.25em 0.5em 0 0;

      ul {
        padding: 0;
        margin: 0;
        font-size: 0.875em;
        list-style: none;
        display: flex;
        justify-content: flex-end;
      }

      li {
        flex: 0 0 auto;

        a {
          font-size: 19px;
          display: block;
          padding: 0.5em;
          text-decoration: none;
          @include aSetting(#fff);
        }
      }
    }

    //右邊區塊
    .submenuBox {
      display: flex;
      align-items: center;
      padding: 15px;
      background: linear-gradient(135deg, #005d9d 0%, #98d1a7 100%);
      position: relative;

      & > div {
        + div::after {
          content: '';
          width: 1px;
          height: 17px;
          background: #fff;
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .reserve {
      a {
        font-size: 15px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: $colorPrimary;
        color: #fff;
        width: 200px;
        height: 32px;
        transition: all 0.3s linear;

        @media screen and (max-width: 1200px) {
          width: 120px;
        }

        &:hover {
          background: #000;
        }
      }
    }
  }

  &.sticky {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(25px);

    & > .container {
      height: 50px;
    }
  }
}

.header.typeB {
  h1 {
    position: absolute;
    top: 20px;
    z-index: 50;

    @include screen('tablet') {
      position: relative;
      top: auto;
    }
  }

  .navigation {
    margin-bottom: 40px;
  }
}